.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.input-group .error-message {
  display: none;
}

.error label {
  color: #cc0033;
}

.error input {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.error .error-message {
  display: inline-block;
}
